---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Javascript from "./icons/Javascript.astro";
import Angular from "./icons/Angular.astro";
import Firebase from "./icons/Firebase.astro";
import PHP from "./icons/PHP.astro";
import Boostrap from "./icons/Boostrap.astro";
import React from "./icons/React.astro";
import ReactNative from "./icons/ReactNative.astro";
import Typescript from "./icons/Typescript.astro";
import Sql from "./icons/Sql.astro";

// TODO: poner bien el link de angular
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E44D26] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#f0db4f] text-black",
    icon: Javascript,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#dd0031] text-white",
    icon: Angular,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#ffcb2b] text-black",
    icon: Firebase,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#777BB4] text-white",
    icon: PHP,
  },
  BOOSTRAP: {
    name: "Bootstrap",
    class: "bg-[#7952B3] text-white",
    icon: Boostrap,
  },
  REACT: {
    name: "React",
    class: "bg-[#61DBFB] text-black",
    icon: React,
  },
  REACT_NATIVE: {
    name: "React Native",
    class: "bg-[#61DBFB] text-black",
    icon: ReactNative,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-[#007acc] text-white",
    icon: Typescript,
  },
  SQL: {
    name: "SQL",
    class: "bg-[#007acc] text-white",
    icon: Sql,
  },
};
const PROJECTS = [
  {
    title: "NDG",
    description:
      "NDG es una landing page para una marca de servicio de reparación de equipo dental, desarrollada con React y Bootstrap. Proporciona una interfaz atractiva y móvil-responsiva para promover los servicios de la marca, utilizando React para componentes dinámicos y Bootstrap para un diseño moderno y accesible.",
    link: "https://nuevadentalgdl.com/",
    github: "https://github.com/Erick-Hernandez-Ortega/NDG",
    image: "/projects/ndg.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.BOOSTRAP],
  },
  {
    title: "AbastoTotal",
    description:
      "AbastoTotal es un software de gestión para abarrotes, desarrollado con Angular, Firebase y Bootstrap. Facilita la administración de inventarios, ventas y proveedores, proporcionando una solución eficiente y centralizada. Utiliza Angular para una interfaz dinámica, Firebase para almacenamiento de datos y autenticación, y Bootstrap para un diseño móvil-responsivo.",
    link: "https://erick-hernandez-ortega.me/abastototal/",
    github: "https://github.com/Erick-Hernandez-Ortega/AbastoTotal",
    image: "/projects/abastototal.webp",
    tags: [TAGS.FIREBASE, TAGS.ANGULAR, TAGS.TYPESCRIPT],
  },
  {
    title: "Adogtame",
    description:
      "Projecto personal y académico: app móvil y web para la adopción de mascotas, con base de datos no relacional. Creada con React Native, React, Firebase y Expo.",
    // link: "ff",
    github: "https://github.com/Erick-Hernandez-Ortega/Adogtame",
    image: "/projects/adogtame.webp",
    tags: [TAGS.FIREBASE, TAGS.REACT, TAGS.REACT_NATIVE, TAGS.JAVASCRIPT],
  },
  {
    title: "Projecto regularización",
    description:
      "Projecto para el ayuntamiento de Tonalá. Donde los funcionarios subirian y darian seguimiento de archivos. Con base de datos relacional SQL. Creada con HTML, CSS, PHP y Bootstrap.",
    link: "https://erick-hernandez-ortega.me/Proyecto-Regularizacion/login.php",
    github: "https://github.com/Erick-Hernandez-Ortega/Proyecto-Regularizacion",
    image: "/projects/regularizacion.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.BOOSTRAP, TAGS.SQL],
  },
  {
    title: "Página de departamento Angular",
    description:
      "Plataforma hecha para el departamento de Ingeniería de ciencias computacionales de CUTonalá. Dinamica con base de datos no relacional. Creada con Angular y Firebase.",
    // link: "ff",
    github: "https://github.com/Erick-Hernandez-Ortega/Pagina-Departemanto-Angular",
    image: "/projects/pagina-departamento.webp",
    tags: [TAGS.ANGULAR, TAGS.FIREBASE, TAGS.TYPESCRIPT],
  },
  {
    title: "Página de departamento",
    description:
      "Plataforma hecha para el departamento de Ingeniería de ciencias computacionales de CUTonalá. Creada con HTML, CSS y JavaScript, diseño responsivo. Lo básico de la programación web.",
    link: "https://erick-hernandez-ortega.github.io/Pagina-Departamento/",
    github: "https://github.com/Erick-Hernandez-Ortega/Pagina-Departamento",
    image: "/projects/pagina-departamento.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagen de proyecto"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
